*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif !important;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  font-weight: 800;
}

.logo a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid #a2a2a2;
  background-color: #003366;
  color: #003366;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1.5rem;
  gap: 2rem;
}

.card {
  width: 20rem;
  height: 25rem;
  color: #003366;
  background-color: #f4f4f4;
  padding: 1.5em;
  cursor: pointer;
  border-radius: 1em;
  border: 1px solid #003366;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.card > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__heading {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: 1em;
}

.card__details {
  font-size: 1em;
  font-weight: 600;
  padding-block: 2em;
}

.card__btn {
  height: 2.5rem;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid white;
  transition: 0.2s;
}

.card__btn button {
  color: #ffffff;
  background-color: #003366;
}

.card__btn button:hover {
  background-color: #ffffff;
  color: #003366;
  border: 1px solid #003366;
}

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header .header {
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
